<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">

    <title>pepewtest</title>
</head>
<body>
    <div id="header">
        <div class="container">
            <h1>Halo! Apa Kabar?</h1>

            <p>Silakan tuliskan status Anda! Boleh berupa kata-kata penyemangat, pesan, keluh kesah, curhatan, ataupun motivasi. Selamat menjalani hari-hari dengan penuh kebahagiaan! Semangat! dan Terimakasih!</p>
            <p>-Muhammad Azis Husein-</p>

            <div class="form-container">
                <form id="form" action="/" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>

    <div id="status">
        <div class="container-2">
            <h1>Selamat Membaca Status!</h1>

            <p>Semoga status-status ini dapat membangkitkan semangat para pembaca dalam menjalani hari! Jangan lupa tersenyum! :)</p>

            {% for stat in status %}
                <div class="status-container">
                    <h4> {{ stat.content }} </h4>
                    <p> {{ stat.date }} </p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>