/* --------------- CSS RESET -------------- */

* {
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* --------------- Header -------------- */

#header {
    height: 100vh;
    background-color: #20B9C9;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.container h1 {
    padding-top: 15vh;
    text-align: center;
    color: #000;
}

.container p {
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.form-container {
    margin: auto;
    padding-top: 5px;
    max-width: 800px;
}

.form-container form label {
    display: block;
    margin: 15px auto;
    text-align: center;
    font-size: 22px;
}

.form-container form textarea {
    border: #E23D3D 5px solid;
    width: 100%;
    padding: 10px;
}

.form-container form button {
    display: block;
    margin: 25px auto;
    background: none;
    border: #E23D3D 2px solid;
    border-radius: 20%;
    padding: 5px;
}

.form-container form button:hover {
    background: #E23D3D;
    border: #000 2px solid;
}

/* --------------- Status -------------- */

#status {
    background-color: #EAF4F4;
    padding: 15px;
}

.container-2 {
    max-width: 1100px;
    margin: auto;
}

.container-2 h1 {
    text-align: center;
    color: #000;
}

.container-2 p {
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.status-container {
    margin-top: 5vh;
    padding: 15px;
    border: #20B9C9 3px solid;
    border-radius: 20%;
}

.status-container h4 {
    text-align: center;
}

.status-container p {
    margin-bottom: 5px;
    font-size: 14px;
}